src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankServices">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:1010/?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewCompte">
<part name="parameters" element="tns:createNewCompte"/>
</message>
<message name="createNewCompteResponse">
<part name="parameters" element="tns:createNewCompteResponse"/>
</message>
<message name="clientComptes">
<part name="parameters" element="tns:clientComptes"/>
</message>
<message name="clientComptesResponse">
<part name="parameters" element="tns:clientComptesResponse"/>
</message>
<message name="conversionToDH">
<part name="parameters" element="tns:conversionToDH"/>
</message>
<message name="conversionToDHResponse">
<part name="parameters" element="tns:conversionToDHResponse"/>
</message>
<portType name="BankService">
<operation name="createNewCompte">
<input wsam:Action="http://ws/BankService/createNewCompteRequest" message="tns:createNewCompte"/>
<output wsam:Action="http://ws/BankService/createNewCompteResponse" message="tns:createNewCompteResponse"/>
</operation>
<operation name="clientComptes">
<input wsam:Action="http://ws/BankService/clientComptesRequest" message="tns:clientComptes"/>
<output wsam:Action="http://ws/BankService/clientComptesResponse" message="tns:clientComptesResponse"/>
</operation>
<operation name="conversionToDH">
<input wsam:Action="http://ws/BankService/conversionToDHRequest" message="tns:conversionToDH"/>
<output wsam:Action="http://ws/BankService/conversionToDHResponse" message="tns:conversionToDHResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clientComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversionToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankServices">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:1010/"/>
</port>
</service>
</definitions>